*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
button{
    border-radius: 5px;
    background-color: transparent;
    transition: background;
    transition-duration: 1.5s;
}
button:hover{
    background-color: rgb(222, 222, 222);

    transition: background;
    transition-duration: 1.5s;
}
.maincon{
    display: flex;
    width: 50rem;
    justify-content: space-between;
}
.linecon{
    width: 15rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    
}
.disccontainer{
    display: flex;
    flex-direction: column-reverse;
}
body{
    display: grid;
    place-content: center;
    margin-top: 5%;

}
.line{
    width: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    height: 30rem;
    background-color: green;
    align-self: center;
}
.disc{
    width: 12rem;
    height: 25px;
    align-self: center;
    border-radius: 5px;
    background-color: blue;
    margin-top: 5px;
}
.placebtn{
    height: 3rem;
    margin-top: 10px;
}
.movesdisplay{
    position: fixed;
    top: 5px;
    right: 25px;
}